/* 
================================================================================
WSP COMPONENT LIBRARY STYLESHEET
================================================================================ */



/* HEADER SPECIFIC ======================================== */

/* ABOUT SPECIFIC ======================================== */

/* COMPONENTS SPECIFIC ======================================== */
html{
    font-family: 'Indie Flower', cursive;
}
header{
    margin-left: 2%;
    margin-bottom: 45px;
}
h1{
    font-size: 4em;
}
h3{
    font-size: 2em;
}
h4{
    font-size: 1.4em;
    margin-bottom: 20px;
}
p{
    padding: 25px;
    font-size: 1em;
    color: dimgrey;
}
footer{
    text-align: right;
    clear: both;
    margin-top: 2%;
    margin-right: 2%;
}
article > img{
    width: 50%;
}
.one-third{
    box-shadow: -6px 3px 10px -6px grey;
}
header{
    box-shadow: 0 6px 10px -6px grey;
}


