<!DOCTYPE html>
<html>
<head>
	<title>Info display: Chase Herman</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component is wrapped in an article because it stands alone, is necessary, and I can picture learning about a new project each day, most visibly by email. Other than that, nothing is wrapped here because there is no need for any.-->
<article>
	<h2>Title for the Info</h2>
    <h3>subtitle for the info</h3>
    <img src="component.jpg">
    <h1>Info piece 1</h1>
    <h3>Subinfo or units or lesser info 1</h3>
    <h1>Info piece 2</h1>
    <h3>Subinfo 2</h3>
    <h1>Info piece 3</h1>
    <h3>Subinfo 3</h3>
    <button>Call to Action</button>
    <p>Explanation of what all is going on here</p>
</article>
	<!-- End Component -->
	
</body>
</html>