<!DOCTYPE html>
<html>
<head>
	<title>Info display: Chase Herman</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component, possibly wrapped in sections if the page has multiples of these-->

	<h2>Title for the Info</h2>
    <h3>subtitle for the info</h3>
    <img src="component.jpg">
    <h1>Info piece 1</h1>
    <h3>Subinfo or units or lesser info 1</h3>
    <h1>Info piece 2</h1>
    <h3>Subinfo 2</h3>
    <h1>Info piece 3</h1>
    <h3>Subinfo 3</h3>
    <button>Call to Action</button>
    <p>Explanation of what all is going on here</p>

	<!-- End Component -->
	
</body>
</html>