<!DOCTYPE html>
<html>
<head>
	<title>Info display: Chase Herman</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component is wrapped in an article because it stands alone, is necessary, and I can picture learning about a new project each day, most visibly by email. Other than that, nothing is wrapped here because there is no need for any.-->
<article>
	<h1>Yooka-Laylee - A 3D Platformer Rare-vival!</h1>
    <h2>by <strong>Playtonic games</strong></h2>
    <img src="media.png" alt="Project Summary Image">
    <dl>
        <dt>59,144</dt>
        <dd>backers</dd>
        <dt>$2,751,781</dt>
        <dd>pledged of $270,041 goal</dd>
        <dt>11</dt>
        <dd>days to go</dd>
    </dl>
    <button>Back This Project</button>
    <input type="radio" value="DontRemind" name="Reminder" checked id="drem"><label for="drem" class="radio">You will be Reminded</label>
    <input type="radio" value="Remind" name="Reminder" id="rem"><label for="rem" class="radio">Remind me</label>

    <p>This project was founded on [date]</p>
</article>
	<!-- End Component -->
	
</body>
</html>