<!DOCTYPE html>
<html>
<head>
	<title>Footer: Chase Herman</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<footer>
        <section><!--This is sectioned off because they all have an h1 and are separate from one another in a flow, all the sections would be styled so that they are evenly distributed, and the elements within them may be positioned relative to the individual sections.-->
            <img src="component.jpg">
            <h1>Heading for first part of footer</h1>
            <p>info or links for the first part</p>
        </section>
        <section>
            <img src="component.jpg">
            <h1>Heading for second part of footer</h1>
            <p>info or links for the second part</p>
        </section>
        <section>
            <img src="component.jpg">
            <h1>Heading for third part of footer</h1>
            <p>info or links for the third part</p>
        </section>
	</footer>

	<!-- End Component -->
	
</body>
</html>