<!DOCTYPE html>
<html>
<head>
	<title>Footer: Chase Herman</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<section>
        <h1>Friends of Mighty</h1>
        <article>
            <img src="component.jpg" alt="Jason">
            <h1>Jason Santa Maria</h1>
            <p>Jason is the founder and principal of...</p>
        </article>
        <article>
            <img src="component.jpg" alt="Frank">
            <h1>Frank Chimero</h1>
            <p>Frank is a graphic designer, teacher, writer, and...</p>
        </article>
        <article>
            <img src="component.jpg" alt="Naz">
            <h1>Naz Hamid</h1>
            <p>Naz is the founder and principal of...</p>
        </article>
	</section>

	<!-- End Component -->
	
</body>
</html>