/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* HEADER ======================================== */
body{
    background: #78693E;
}
section{
    padding: 120px 20px 0 20px;
    background: #F6ECDA url("trees.png")no-repeat 10% -180px;
}
section > h1{ /*to directly target the h1 for the entire section, whereas "section h1" would also grab all the other h1s.*/
    height: 200px;
    width: 200px;
    background: transparent url("friendsofmighty.png") no-repeat 0 0 / 150px;
    position: absolute;
    left: calc(50% - 75px); /*to get center of image into center of screen*/
    top: 45px;
    text-indent: -9999px; /*remove text*/
    z-index: 1; /*place overtop of the articles*/
}
article{
    float: left;
    background: #fff;
    margin-top: 80px;
    padding: 5%;
}
img{
    width: 36%;
    margin-right: 2%;
    float: left;
}
article h1{
    font: bold 1em sans-serif;
    text-transform: uppercase;
    color: #a58751;
}
p{
    font: 1em Times, serif;
    color: #333;
}
/* HEADER ======================================== */
@media (min-width: 600px) {
    article{
        position: relative;
        top: -80px;
        width: 30%; /* times 3 = 90%. Therefore, each side has 5% for margin.*/
        min-height: 350px;
        padding: 80px 1% 0 1%;
        background: #fff url("lines.png") repeat-x 0 12px / 100%;
    }
    article:first-of-type{
        margin-left: 5%;
    }
}