<!DOCTYPE html>
<html>
<head>
	<title>Footer: Chase Herman</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<section>
        <h1>Friends of Mighty</h1>
        <article>
            <img src="Jason.png" alt="Jason">
            <h1>Jason Santa Maria</h1>
            <p>Jason is the founder and principal of Mighty, a Brooklyn-based design studio. He is creative director of Typekit, a faculty member in the MFA Interaction Design program at SVA, vice president of AIGA/NY, founder of Typedia, and creative director for A List Apart. He discusses design on his award-winning website.</p>
        </article>
        <article>
            <img src="Frank.png" alt="Frank">
            <h1>Frank Chimero</h1>
            <p>Frank is a graphic designer, teacher, writer, and creative person in Portland, Oregon. His fascination with the creative process, curiosity, and visual experience informs all of his work. Each piece is part of an exploration in finding wit, surprise, honesty, and joy in the world around us, then, trying to document those things.</p>
        </article>
        <article>
            <img src="Naz.png" alt="Naz">
            <h1>Naz Hamid</h1>
            <p>Naz is the founder and principal of Weightshift, a small forward-thinking studio based in San Francisco and Chicago. They believe in function before form, the appropriate medium and message, thoughtful craft and in Doing it once, doing it right. They write about design at Memo.</p>
        </article>
	</section>

	<!-- End Component -->
	
</body>
</html>