<!DOCTYPE html>
<html>
<head>
	<title>Nav bar: Chase Herman</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<nav>
        <ul>
            <li>
                <a href="">Art</a>
                <ul>
                    <li><a href="">Custom</a></li>
                    <li><a href="">Craft</a></li>
                </ul>
            </li>
            <li>
                <a href="">News</a>
                <ul>
                    <li><a href=""> This year</a></li>
                    <li><a href="">Previous</a></li>
                </ul>
            </li>
            <li><a href="">Fics</a></li>
            <li><a href="">Comics</a></li>
            <li>
                <a href="">Media</a>
                <ul>
                    <li><a href="">International</a></li>
                    <li><a href="">Domestic</a></li>
                </ul>
            </li>
        </ul>
	</nav>

	<!-- End Component -->

</body>
</html>