<!DOCTYPE html>
<html>
<head>
	<title>Nav bar: Chase Herman</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<nav>
        <ul>
            <li>
                Link heading one
                <ul><!--Perhaps a better choice is to put these into a div outside the list to style it easier. perhaps not.-->
                    <li>submenu item 1</li>
                    <li>submenu item 2</li>
                </ul>
            </li>
            <li>
                Link heading two
                <ul>
                    <li>submenu item 1</li>
                    <li>submenu item 2</li>
                </ul>
            </li>
            <li>Link Heading three</li>
            <li>Link heading four</li>
            <li>
                Link heading five
                <ul>
                    <li>submenu item 1</li>
                    <li>submenu item 2</li>
                </ul>
            </li>
        </ul>
	</nav>

	<!-- End Component -->
	
</body>
</html>