<!DOCTYPE html>
<html>
<head>
	<title>Image zoom: Chase Herman</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

    <article>
        <img src="component.png" alt="Mega Absol">

        <h1>Mega Absol appears</h1>
        <p>Image 299 of 449</p>

        <button id="close">Close</button>
        <button id="previous">Previous</button>
        <button id="next">Next</button>

    </article>
	<!-- End Component -->
	
</body>
</html>