<!DOCTYPE html>
<html>
<head>
	<title>List menu: Chase Herman</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<nav>
            <h1><a href=""> Youtube</a></h1>
            <ul>
                <li><a href="">What to watch</a></li>
                <li><a href="">My Channel</a></li>
                <li><a href="">My subscriptions</a></li>
            </ul>

            <h1>Playlists</h1> <!--Not a link, just a heading--->
            <ul>
                <li><a href="">Favorites</a></li>
                <li><a href="">Custom Playlist 1</a></li>
                <li><a href="">Liked videos</a></li>
            </ul>

            <h1>Subscriptions</h1>
            <ul>
                <li><a href="">channel one</a></li>
                <li><a href="">channel two</a></li>
                <li><a href="">channel three</a></li>
            </ul>

	</nav>

	<!-- End Component -->
	
</body>
</html>