<!DOCTYPE html>
<html>
<head>
	<title>List menu: Chase Herman</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<nav>
        <a href=""><h1> Youtube </h1></a>
        <ul>
            <li id="whatToWatch"><a href="">What to watch</a></li>
            <li id="myChannel"><a href="">My Channel</a></li>
            <li id="mySubscriptions"><a href="">My subscriptions</a></li>
        </ul>

        <h1>Playlists</h1> <!--Not a link, just a heading--->
        <ul>
            <li class="playlist"><a href="">Favorites</a></li>
            <li class="playlist"><a href="">Custom Playlist 1</a></li>
            <li id="liked"><a href="">Liked videos</a></li>
        </ul>

        <h1>Subscriptions</h1>
        <ul>
            <li id="HoopsandHipHop"><a href="">HoopsadnHipHop</a></li>
            <li id="Yourenigma"><a href="">Yourenigma</a></li>
            <li id="Haydunn"><a href="">Haydunn</a></li>
        </ul>

	</nav>

	<!-- End Component -->
	
</body>
</html>