<!DOCTYPE html>
<html>
<head>
	<title>List menu: Chase Herman</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<nav>
        <a href=""><h1> Youtube </h1></a>
        <ul>
            <li id="w2w"><a href="">What to watch</a></li>
            <li id="mc"><a href="">My Channel</a></li>
            <li id="ms"><a href="">My subscriptions</a></li>
        </ul>

        <h1>Playlists</h1> <!--Not a link, just a heading--->
        <ul>
            <li class="pl"><a href="">Favorites</a></li>
            <li class="pl"><a href="">Custom Playlist 1</a></li>
            <li id="liked"><a href="">Liked videos</a></li>
        </ul>

        <h1>Subscriptions</h1>
        <ul>
            <li id="s1"><a href="">channel one</a></li>
            <li id="s2"><a href="">channel two</a></li>
            <li id="s3"><a href="">channel three</a></li>
        </ul>

	</nav>

	<!-- End Component -->
	
</body>
</html>