<!DOCTYPE html>
<html>
<head>
	<title>Links with visual description: Chase Herman</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <nav><!---This is a list of links. It may or may not be the main list for the site. Section also works if it isn't.-->
        <div> <!--These would be the images on top, arranged horizontally with CSS. Each img has its own so that the divs can have the padding and clipped corner from the original component, as well as have the text within this background color. This is done this way so that the entire div may be clicked as opposed to just the image, or just the text within the "card".--->
            <img src="component.jpg" alt="">
            <h1></h1>
        </div>
        <div>
            <img src="component.jpg" alt="">
            <h1></h1>
        </div>
        <div>
            <img src="component.jpg" alt="">
            <h1></h1>
        </div>


        <!--These would be the Text on the bottom, arranged horizontally according to the spacing of the above images. They are anchor tags because they will link to another page and do nothing else. They can share the same class as the above divs.--->
            <a href="">text for img 1</a>

            <a href="">text for img 2</a>

            <a href="">Text for img 3</a>
        </nav>


	<!-- End Component 1-->

</body>
</html>