<!DOCTYPE html>
<html>
<head>
	<title>Links with visual description: Chase Herman</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component alternative 1 -->

	<div><!--This holds all the img divs--->
        <div> <!--These would be the images on top, arranged horizontally within the same div. Each img has its own so that the divs can have the padding and clipped corner from the original component--->
            <a href=""><img src="component.jpg"></a>
        </div>
        <div>
            <a href=""><img src="component.jpg"></a>
        </div>
        <div>
            <a href=""><img src="component.jpg"></a>
        </div>
	</div>
    <div><!--This holds all the text divs--->
        <div><!--These would be the Text on the bottom, arranged horizontally according to the spacing of the above images--->
            <a href=""><img src="component.jpg"></a>
        </div>
        <div>
            <a href=""><img src="component.jpg"></a>
        </div>
        <div>
            <a href=""><img src="component.jpg"></a>
        </div>
    </div>

	<!-- End Component 1-->

    <!-- Component alternative 2 This stacks the images and text within the same div, and puts three of those next to each other

    <div>
        <div>
            <a href=""><img src="component.jpg"></a>
        </div>
        <button onclick="">Text for the first image</button>
    </div>
    <div>
        <div>
            <a href=""><img src="component.jpg"></a>
        </div>
        <button onclick="">Text for the Second image</button>
    </div>
    <div>
        <div>
            <a href=""><img src="component.jpg"></a>
        </div>
        <button onclick="">Text for the Third image</button>
    </div>

     End Component 2-->
	
</body>
</html>