<!DOCTYPE html>
<html>
<head>
	<title>Links with visual description: Chase Herman</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
        <article>
            <div><!---Divides the section into the two pieces: the image and title and "more" links. The divs are indeed only used for CSS other than that-->
                <img src="component.jpg" alt="TCG">
                <h1>New In TCG</h1>
            </div>
            <div>
                <a href="">Read More</a>
            </div>
        </article>
        <article>
            <div>
                <img src="component.jpg" alt="Dragonite">
                <h1>Dragonite</h1>
            </div>
            <div>
                <a href="">Read More</a>
            </div>
        </article>
        <article>
            <div>
                <img src="component.jpg" alt="Video">
                <h1>Animation</h1>
            </div>
            <div>
                <a href="">Watch</a>
            </div>
        </article>
    </section>


	<!-- End Component 1-->

</body>
</html>