<!DOCTYPE html>
<html>
<head>
	<title>Tweet knockoff form: Chase Herman</title>
	<!--link rel="stylesheet" type="text/css" href="../../css/reset.css" /-->
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->


        <form>
            <h1>Compose new Tweet</h1>

            <p><input type="text" id="tweet"><label for="tweet">Tweet</label></p>

            <p><input type="file" id="photo"><label for="photo">Add Photo</label></p>

            <p>
                <input type="radio" value="disabled" name="location" id="locdisabled"><label for="locdisabled" class="radio">Enabled</label>


                <input type="radio" value="enabled" name="location" checked id="locenabled"><label for="locenabled" class="radio">Disabled</label></p>

            <p>140</p>
            <button type="submit" id="submit">Tweet</button>

            <button id="close">Close</button>
        </form>

	<!-- End Component -->
	
</body>
</html>