<!DOCTYPE html>
<html>
<head>
	<title>Tweet knockoff form: Chase Herman</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->


        <form>
            <h1>Compose new Tweet</h1>

            <p><label>Tweet<input type="text"></label></p>

            <p><label>Add Photo<input type="file"></label></p>

            <p><label>Location <input type="radio" value="disabled"><input type="radio" value="enabled"></label></p>

            <button type="submit">Tweet</button>

            <button>Close</button>
        </form>

	<!-- End Component -->
	
</body>
</html>