<!DOCTYPE html>
<html>
<head>
	<title>Tweet knockoff form: Chase Herman</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

    <div> <!---This would be an overlay to blur or darken the rest of the screen--->

    </div>

    <div> <!---This would be placed on top of the overlay--->
        <h1>Title for the form</h1>
        <span>X</span> <!--This is for the close button--->
        <form>
            <input type="text">
            <input type="file">
            <input type="submit">
        </form>

    </div>

	<!-- End Component -->
	
</body>
</html>