<!DOCTYPE html>
<html>
<head>
	<title>Contact: Chase Herman</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<section>

        <form>
            <h1>Message</h1>
            <p><label>Name<input type="text"></label></p>

            <p><label>Email<input type="email"></label></p>

            <p><label>Message<input type="text"></label></p>

            <button type="submit">Send</button>
        </form>
        <h1>Contact</h1>
        <p>Please use the contact form above to get in touch with us. Thanks!</p>

	</section>

	<!-- End Component -->


</body>
</html>