<!DOCTYPE html>
<html>
<head>
	<title>Contact: Chase Herman</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<aside><!--Used as aside because what is contained here is supplementary to the document's content and not entirely necessary.--->
        <h1>Title for the form</h1>
        <form>
            <label for="">Name</label>
            <input type="text">
            <label for="">Email</label>
            <input type="email">
            <label for="">Message</label>
            <input type="text">
            <button type="submit">Submit</button>
        </form>
        <hr><!--divs can be used to separate rather than hr, depends on how it wants to be handled: as one piece or two-->
        <h1>Message the company organization or person</h1>
        <p>brief message about the process</p>
	</aside>

	<!-- End Component -->


</body>
</html>