<!DOCTYPE html>
<html>
<head>
	<title>Sign up: Chase Herman</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<img src="component.jpg"><!--This is a call to action image-->
    <section> <!--Section because order doesn't matter and they might with difficulty stand alone; having other section makes more sense.-->
        <h1>Sign up for membership</h1>
        <p>Quick description of the Sign up process and benefits</p>
        <button>Sign Up</button>
    </section>
    <section><!--Login section-->
        <h1>Login</h1>
        <form>
            <label>Username</label>
            <input type="text">
            <label>Password</label>
            <input type="password">
            <input type="submit">
        </form>
    </section>

	<!-- End Component -->
	
</body>
</html>