<!DOCTYPE html>
<html>
<head>
	<title>Sign up: Chase Herman</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section id="ht1">
        <img src="ht1.png" alt="HT+1 logo">
        <dl>
            <dt>Membership Benefits</dt>
            <dd>Free to join</dd>
            <dd>Earn points and score a 15% off reward</dd>
            <dd>Hear about news and sales</dd>
            <dd>Exclusive access to sweepstakes and events</dd>
        </dl>
        <dl>
            <dt>Site Benefits</dt>
            <dd>Check order status and tracking</dd>
            <dd>Write customer reviews</dd>
            <dd>Get exclusive access to sweepstakes and events</dd>
            <dd>save credit card info for faster checkout</dd>
        </dl>
    </section>

	<section>
            <form>

                <h1>Already have an account</h1>
                <p><label>*Email address<input type="email"></label></p>
                <p><label>*Password<input type="password"></label></p>

                <button type="submit">Log In</button>
            </form>

            <h1>Create an account</h1>
            <p>By clicking "Join Now" we reserve the right to completely rock your world...</p>
            <a href="">Join Now</a>
    </section>

	<!-- End Component -->
	
</body>
</html>