<!DOCTYPE html>
<html>
<head>
	<title>Header: Chase Herman</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

    <header>
        <img src="homeimg.jpg" alt="logo">
        <h1>I Shot Him</h1>
        <nav>
            <ul>
                <li id="logo">
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">News</a>
                </li>
                <li>
                    <a href="">Contact</a>
                </li>
                <li>
                    <a href="">About</a>
                </li>
                <li>
                    <a href="">Work</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        This is to showcase the rest of the site going over the image
    </main>
	<!-- End Component -->
	
</body>
</html>